// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #ffffff;

$dark-brown: #5a4f4f;
$brown: #968384;
$khaki-green: #999B84;
$pink: #D8AC9C;
$light-pink: #f0e8e5;
$light-cream: #f5f4f4;
