// Specific CSS for your home-page
body {
  background-color: $light-cream;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

a:hover {
  text-decoration: underline;
  color: grey;
}

.home-title {
  text-align: center;
}

.home-carousel-container {
  margin: 2rem auto;
}

.home-carousel-row {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.home-carousel-item {
  width: 100%;
  background-size: cover;
}

.product-img-home {
  object-fit: cover;
}

.index-title {
  margin: 2rem auto;
}

.container-fluid-index {
  margin: 1rem 0;
}

// to make text slide in
.fade-in-text {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150px;
  color: black;
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// To make banner text slide in
.slide-right {
  width: 100%;
  overflow: hidden;
  margin-left: 100px;
  margin-top: 70px;
  // max-width: 500px
}

.slide-right h2 {
  animation: 0.5s slide-right 0.5s forwards;
  transform: translateX(-100%);
}

.slide-right p {
  animation: 1s slide-right 1s forwards;
  transform: translateX(-100%);
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

// slide on scroll css

// To make banner text slide in
.slide-left {
  width: 100%;
  overflow: hidden;
  // these are additions after the js stopped working
  // animation: 0.5s slide-left 0.5s forwards;
  // transform: translateX(-120%);
}

@keyframes slide-left {
  to {
    transform: translateX(0);
  }
}

/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
  text-decoration: none;
}

/*animation element sliding from left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

// home details styling

.home-row {
  display: flex;
  justify-content: center;
}

.home-details {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-ghost-home {
  color: rgb(150, 131, 132);
  background-color: rgb(150, 131, 132);
  border: 1px solid rgb(150, 131, 132);
  color: white;
  padding: 12px 36px;
  border-radius: 4px;
  font-weight: lighter;
  width: 40%;
  text-decoration: none;
  margin: 5px 0;
}

.btn-ghost-home:hover {
  opacity: 1;
  text-decoration: none;
  background-color: white;
  color: black;
}

.home-details p {
  @import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
  font-family: "Urbanist";
  font-size: 16px;
}

// blog container styling

.home-blog-container {
  background-color: #f0e8e5;
  padding: 40px 0;
}

.home-blog-title {
  text-align: center;
  margin: 20px 0 60px 0;
}

.row-blog {
  display: flex;
  justify-content: center;
}

.home-blog-bottom-title-div {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.home-blog-bottom-title {
  text-align: center;
  width: 25%;
  text-decoration: none;
}

#blog-bottom-title {
  text-decoration: none;
  font-size: 18px;
}

#blog-bottom-title:hover {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

// underline from center for blog bottom title
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: black;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

// email form styling
/* Style the form element with a border around it */

.home-email-form {
  border: 4px solid #f1f1f1;
  background-color: white;
  padding: 60px 0;
}

/* Add some padding and a grey background color to containers */
.email-container {
  padding: 20px;
  background-color: #f1f1f1;
}

.home-email-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the input elements and the submit button */
.email-form-text-input,
.email-form-submit {
  width: 60%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
.email-form-checkbox {
  margin-top: 16px;
}

/* Style the submit button */
.email-form-submit {
  background-color: #04AA6D;
  color: white;
  border: none;
}

.email-form-submit:hover {
  opacity: 0.8;
}

.home-hidden-button {
  width: 0px;
  position: fixed;
  display: none;
}
