// Specific CSS for your home-page
body {
  background-color: $light-cream;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

a:hover {
  text-decoration: underline;
  color: grey;
}

.home-title {
  text-align: center;
}

.home-carousel-container {
  margin: 2rem auto;
}

.home-carousel-row {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.home-carousel-item {
  width: 100%;
  background-size: cover;
}

.index-title {
  margin: 2rem auto;
}

.container-fluid-index {
  margin: 2rem 0;
}

// to make text slide in
.fade-in-text {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150px;
  color: black;
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// To make banner text slide in
.slide-right {
  width: 100%;
  overflow: hidden;
  margin-left: 300px;
  max-width: 500px
}

.slide-right h2 {
  animation: 1s slide-right 0.5s forwards;
  transform: translateX(-100%);
}

.slide-right p {
  animation: 1s slide-right 1s forwards;
  transform: translateX(-100%);
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

// slide on scroll css

// To make banner text slide in
.slide-left {
  width: 100%;
  overflow: hidden;
}

@keyframes slide-left {
  to {
    transform: translateX(0);
  }
}

/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}

/*animation element sliding from right*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
