.accept-decline-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $pink;
  transition: background 0.3s ease;
  width: 40%;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.my-account-products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 50px 0;
}

.my-account-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pay-button {
  background-color: #D8AC9C;
  border-radius: 4px;
  border-color: #D8AC9C;
}

.pay-button :hover {
  color: #999B84
}

.chatrooms-btn {
  width: 100%;
  margin: 0 0 0 50px;
}

.accept-btn {
  margin: 0 20px;
}

.decline-btn {
  margin: 0 20px;
}
