.all-container {
  // display: flex;
  // flex-direction: column;
  margin-top: 50px;
  // padding: 0 50px 50px 50px;
}

.product-container {
  margin: 0 auto;
  height: 100%;
}

.product-details-container {
  padding: 20px;
  height: 100%;
  background-color: white;
  border-top: 6px solid rgb(150, 131, 132);
}

.product-actions {
  padding-bottom: 2px;
  margin: 0 15px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal-rule {
  width: 100%;
}

.btn-container a {
  text-decoration: none;
}

.btn-book {
  background-color: rgb(150, 131, 132);
  border: 1px solid rgb(150, 131, 132);
  border-radius: 4px;
  padding: 8px 24px;
  width: 100%;
  margin-bottom: auto;
  text-decoration: none;
}

.btn-book:hover {
  background-color: transparent;
  color: black;
  border: 1px solid rgb(150, 131, 132);
  text-decoration: none;
}

.more-from-this-user {
  text-align: center;
  margin: 50px 0;
}

.product-image-container {
  height: 100%;
  border-radius: 4px;
}

.product-img {
  background-size: cover;
  object-fit: cover;
  width: 100%;
}

.carousel-row {
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
}

.carousel-card {
  margin: 0 10px;
}

// .carousel-img {
//   width: 400px;
//   height: 600px;
//   background-size: cover;
// }

// accordion styling

.accordion-container {
  margin: 40px auto;
}

.accordion-box {
  margin: 0 auto;
}


// reviews styling

.reviews-container-row {
  display: flex;
  justify-content: center;
  margin: 0 0 60px 0;
}

.see-reviews-text {
  display: inline-block;
  margin: 0 0 20px 0;
}

.add-review-text {
  margin: 0 0 20px 0;
}

.review-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 30px 0;
}

.review-content p {
  margin: 0 0 2px 0;
}
