.all-container {
  // display: flex;
  // flex-direction: column;
  margin-top: 50px;
}

.product-container {
  margin: 0 auto;
  height: 100%;
}

.product-details-container {
  padding-bottom: 5px;
  height: 100%;
}

.product-actions {
  padding-bottom: 2px;
  margin: 0 15px;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 10px 0;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal-rule {
  width: 80%;
}

.btn-book {
  background-color: rgb(150, 131, 132);
  border: 1px solid rgb(150, 131, 132);
  border-radius: 5px;
  padding: 8px 24px;
  width: 100%;
  margin-bottom: auto;
}

.btn-book:hover {
  background-color: transparent;
  color: black;
  border: 1px solid rgb(150, 131, 132);
}

.more-from-this-user {
  text-align: center;
  margin: 50px 0;
}

.product-image {
  background-size: cover;
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.product-image-container {
  height: 100%;
}

.carousel-row {
  display: flex;
  justify-content: center;
}

// .carousel-img {
//   width: 400px;
//   height: 600px;
//   background-size: cover;
// }

.reviews-container-row {
  display: flex;
  justify-content: center;
  margin: 0 0 60px 0;
}

.see-reviews-text {
  display: inline-block;
  margin: 0 0 20px 0;
}

.add-review-text {
  margin: 0 0 20px 0;
}

.review-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 30px 0;
}

.review-content p {
  margin: 0 0 2px 0;
}
