<div class="mb-3">
</div>

<% if @chatrooms.present? %>
  <nav class="nav flex-column">
    <% @chatrooms.each do |room| %>
      <%= link_to room.product.name, chatroom_path(room), class: 'nav-link room-nav-link hvr-sweep-to-right' %>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    The are no rooms
  </div>
<% end %>
