<div class="container chatroom-index-container">
  <div class="row">
    <div class="col-12 col-md-3">
      <h1>Your current chats</h1>
      <%= render partial: 'chatrooms' %>
    </div>


    <div class="col">
      <div class="alert alert-primary">
        <h4 class="alert-heading">
          Welcome to your chatrooms!
        </h4>

        <p>
          Take a look at the chats you're in.
        </p>

        <hr />

        <p>
          You can create or join a room from the sidebar.
        </p>
      </div>
    </div>
  </div>
</div>
