<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/JxSwoyKQP-s/1280x852);">
  <div class="container banner-text slide-right fade-in-text">
    <h2>Fashion doesn't have to cost the earth.</h2>
    <p class="banner-p">Join the rental revolution.</p>
  </div>
</div>
