<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://source.unsplash.com/HbAddptme1Q/2400x1600);">
  <div class="container banner-text slide-right fade-in-text">
    <h2>Fashion doesn't have to cost the earth.</h2>
    <p class="banner-p">Join the <strong>rental revolution</strong>.</p>
  </div>
</div>


<%# qqF5oyL9CMk %>
<%# X_gl40e7BDk %>
<%# JxSwoyKQP-s %>
<%# QN507MdnxRQ %>
<%# HbAddptme1Q %>
