<div class="footer">
  <div class="row d-flex justify-content-space-between">
    <div class="col-md-10 footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Mannequinn 2021 <i class="far fa-copyright"></i>
    </div>
  </div>
  <div class="row footer-details">
    <div class="col-md-10">
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-2">
            <h2>Company</h2>
            <%= link_to "ABOUT US", about_us_path %>
            <%= link_to "COMMUNITY", community_path %>
            <p>CHARITY</p>
            <p>PRESS</p>
            <p>CAREERS</p>
            <p>OUR PARTNERS</p>
            <p>CONTACT US</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
