<div class="footer">
  <div class="row footer-details justify-content-center">
    <div class="col-md-10">
      <div>
        <div class="row footer-details-row">
          <div class="col-sm-4 col-md-2">
            <h2>Company</h2>
            <%= link_to "ABOUT US", about_us_path, class: "footer-details-link"%>
            <%= link_to "COMMUNITY", community_path, class: "footer-details-link" %>
            <a href="#" class="footer-details-link">CHARITY</a>
            <a href="#" class="footer-details-link">PRESS</a>
            <a href="#" class="footer-details-link">CAREERS</a>
            <a href="#" class="footer-details-link">OUR PARTNERS</a>
            <a href="#" class="footer-details-link">CONTACT US</a>
          </div>
          <div class="col-sm-4 col-md-2">
            <h2>Legal</h2>
            <a href="#" class="footer-details-link">TERMS OF SERVICE</a>
            <a href="#" class="footer-details-link">PRIVACY POLICY</a>
            <a href="#" class="footer-details-link">COOKIES POLICY</a>
          </div>
          <div class="col-sm-4 col-md-2">
            <h2>Explore</h2>
            <a href="#" class="footer-details-link">FAQS</a>
            <a href="#" class="footer-details-link">DELIVERY</a>
            <a href="#" class="footer-details-link">GIFT CARDS</a>
            <a href="#" class="footer-details-link">RENTING WITH US</a>
            <a href="#" class="footer-details-link">DRY CLEANING</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="row d-flex justify-content-space-between pb-3">
    <div class="col-md-10 footer-links">
      <a href="#" href="#"><i class="fab fa-github"></i></a>
      <a href="#" href="#"><i class="fab fa-instagram"></i></a>
      <a href="#" href="#"><i class="fab fa-facebook"></i></a>
      <a href="#" href="#"><i class="fab fa-twitter"></i></a>
      <a href="#" href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Mannequinn 2021 <i class="far fa-copyright"></i>
    </div>
  </div>
</div>
