<div class="container-fluid header-title">
  <div class="row">
    <div class="col-lg-4 pt-3"><p class="currency px-2 font-weight-bold">GBP £</p></div>
    <div class="text-center col-lg-4 pb-1 pt-4">
       <%= link_to root_path, class: "brand-title" do %>
         <h1 class="brand-title">MANNEQUINN</h1>
       <% end %>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
