<div class="container-fluid">
  <div class="row">
    <div class="text-center pb-1 pt-4 col-lg-4">
    </div>
    <div class="text-center pb-1 pt-4 col-lg-4">
      <h1 class="brand-title">MANNEQUINN</h1>
    </div>
    <div class="text-right pb-1 pt-4 col-lg-4">

    </div>
  </div>
</div>
