<div class="container-fluid header-title">
    <div class="text-center pb-1 pt-4">
      <%= link_to root_path, class: "brand-title" do %>
        <h1 class="brand-title">MANNEQUINN</h1>
      <% end %>
    </div>
</div>
