<%= form_tag products_path, method: :get, class: 'sort-by' do %>
  <%= select_tag "sort-by", "<option value='accending'>Price: Low to High</option><option value='decending'>Price: High to Low</option>".html_safe, class: 'form_input sort-dropdown' %>
  <%= submit_tag "Sort", class: "btn btn-primary sort-submit" %>
<% end %>
