
<div class="container">
<div class="container title">
<h1>GET TO KNOW MANNEQUINN</h1>
</div>
<div class="container">
<p><strong>We’re a small team with a big appetite for sustainability.</strong></p><br>
<p>In 2017, founder Tegan was struck by a home truth: fast fashion has created a demand for “newness” that has no place in a sustainable future.
Something had to be done to remedy the bad habits of the industry.<br><br>

A solution? Renting not buying. Getting women to rent instead, meant they could still get their kicks from the latest luxury trends and pieces, without burning a hole in their pocket or the planet.<br><br>


Our community of like-minded, entrepreneurial women are sharing more than just their wardrobes. They’re doing good by looking good.

<br><br>We promise you, that fashion doesn't have to cost the earth.</p>
<div class="bye">
<h2>XOXO TEAM MANNEQUINN</h2>
</div>
</div>
</div>
