<header>
  <h1>The Mannequinn Community </h1>
</header>
<div class="band">
  <div class="item-1">
    <a href="https://www.harpersbazaar.com/uk/fashion/what-to-wear/a41158/how-to-be-sustainable-fashion/" class="card">
      <div class="thumb" style="background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/prada-1619077084.jpg?crop=0.869xw:0.733xh;0.0929xw,0.240xh&resize=1200:*);"></div>
      <article>
        <h1>10 Simple Steps To Being More Sustainable</h1>
        <span>Jin Mac</span>
      </article>
    </a>
  </div>
  <div class="item-2">
    <a href="https://www.harpersbazaar.com/uk/fashion/what-to-wear/g28194698/sustainable-bags-brands/" class="card">
      <div class="thumb" style="background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/chylak-moire-collection-1-1630422002.jpg?crop=0.702xw:0.255xh;0.168xw,0.437xh&resize=980:*);"></div>
      <article>
        <h1>Our favourite sustainable bag brands</h1>
        <p><br><br>The eco-friendly labels to consider for that next accessory rental! </p>
        <span>Stephanie Ezimoha</span>
      </article>
    </a>
  </div>
  <div class="item-3">
    <a href="https://www.harpersbazaar.com/uk/fashion/fashion-news/a28911531/what-is-second-hand-september/" class="card">
      <div class="thumb" style="background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/sustainable-fashion-header-1521823866.jpg?crop=0.973xw:0.956xh;0,0.0442xh&resize=980:*);"></div>
      <article>
        <h1>Five ways to go beyond Second Hand September</h1>
        <p><br><br>Being more conscious with fashion shouldn't just be for the month... </p>
        <span>Tegan Cadney-Gray </span>
      </article>
    </a>
  </div>
  <div class="item-4">
    <a href="https://www.harpersbazaar.com/uk/fashion/what-to-wear/g19491797/the-best-and-still-chic-sustainable-brands/" class="card">
      <div class="thumb" style="background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/sustainable-fashion-brands-1627482513.jpg?crop=1.00xw:0.753xh;0,0.105xh&resize=980:*);"></div>
      <article>
        <h1>Our favourite sustainable brands</h1>
        <p><br><br>Look good with a clear conscience.</p>
        <span>Kezz Bracey</span>
      </article>
    </a>
  </div>
  <div class="item-5">
    <a href="https://www.harpersbazaar.com/uk/fashion/what-to-wear/a29204515/how-to-build-capsule-wardrobe/" class="card">
      <div class="thumb" style="background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/capsule-wardrobe-1629210006.jpg?crop=0.668xw:1.00xh;0.241xw,0&resize=980:*);"></div>
      <article>
        <h1>The 27 pieces you need for the ultimate capsule wardrobe</h1>
        <span>Anne de Joly</span>
      </article>
    </a>
  </div>
  <div class="item-6">
    <a href="https://www.vogue.co.uk/fashion/article/sustainable-fashion" class="card">
      <div class="thumb" style="background-image: url(https://media.vogue.co.uk/photos/606ef5d248b5c75868fb09cb/master/w_1600,c_limit/Vogue-Sustainability-Guide-credit-Justin-Polkey-2.jpg);"></div>
      <article>
        <h1>15 Things Everyone Should Know About Sustainable Fashion</h1>

        <span>Marie Gardiner</span>
      </article>
    </a>
  </div>
  <div class="item-7">
    <a href="https://www.vogue.co.uk/fashion/article/new-sustainable-fashion-designers" class="card">
      <div class="thumb" style="background-image: url(https://media.vogue.co.uk/photos/60423bc0d4f5db6cd813c2a8/master/w_1600,c_limit/Tolu-Coker-vogue-credit-Ade%2520Coker-1.jpg);"></div>
      <article>
        <h1>3 New Designers Prioritising Ethical Fashion For AW21 And Beyond</h1>
        <span>Kendra Schaefer</span>
      </article>
    </a>
  </div>
</div>
