.accordion-card {
  background-color: white;
}

.accordion-card-details {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 5px 0 5px;
}

.accordion-details-title {
  text-align: center;
}

.font-awesome {
  margin: 3px;
  padding-right: 10px;
}
