.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 90vh;
  position: relative;
  text-align: right;
}

.banner-text {
  position: relative;
  bottom: -300px;
  right: 20px;
}

.banner h2 {
  margin: 0;
  color: white;
  font-size: 33px;
}

.banner p {
  font-size: 30px;
  color: white;
  font-family: "Raleway";
}
