.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 90vh;
  position: relative;
}

.banner-text {
  position: relative;
  bottom: -300px;
  left: -60px;
}

.banner h2 {
  margin: 0;
  color: white;
  font-size: 40px;
}

.banner p {
  font-size: 32px;
  color: white;
  font-family: "Raleway";
}
