// .classic-checkbox {
//   position: absolute;
//   transform: scale(0);
// }

// .classic-checkbox, label {
//   cursor: pointer;
//   background-color: rgba(0,0,0,0.1);
//   color: #333333;
//   padding: 2px 6px 2px 6px;
//   border: 1px solid black;
// }
