.footer {
  background: $light-pink;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  background-color: $light-pink;
  padding-top: 50px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

// STICKY FOOTER v

html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}
.content-inside {
  padding-bottom: 100px;
}
.footer {
  margin-top: -100px;
}

// footer details

.footer-details-row {
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
}

.footer-details-link {
  margin: 5px 0;
  height: auto;
  color: black;
}
