.header-title {
  background-color: $light-pink !important;
}

.brand-title {
  font-weight: lighter;
  font-size: 3.2rem;
}

.brand-title:hover {
  text-decoration: none !important;
  color: black;
}
