.desktop-nav-section {
  background-color: $light-pink !important;
  z-index: 1000;
}

.mobile-nav-section {
  display: none;
  background-color: $light-pink !important;
  z-index: 1000;
}

.nav-item {
  text-transform: uppercase;
}

.nav-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1) !important;
  padding: 8px 12px;
}

.nav-link:hover {
  text-decoration: underline;
  color: grey !important;
}

.search-bar {
  position: absolute;
  right: 20px;
  width: 300px;
}

.input-group-text {
  background-color: $light-pink !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.brand-title-nav {
  position: absolute;
  left: 3px;
  top: 4px;
  font-size: 1.5rem;
  padding: 8px 12px;
  margin: 0;
  transition: width 2s;
}


// media queries

@media (max-width: 1210.98px) {
.mobile-nav-section {
  display: block;
}

.search-bar {
  right: 10px;
  top: 9px;
  width: 200px;
}
}


@media (max-width: 1210.98px) {
.desktop-nav-section {
  display: none;
}
}
